@model List<MembersViewModel>

@{
    ViewData["Title"] = "Medlemsöversikt";
}

<h1>Medlemsöversikt</h1>

@*<form class = "my-3" asp-action = "MemberOverviewSearch" asp-controller = "Members" method = "get">
    <div class = "input-group mb-3">
        <input type = "text" class = "form-controll" asp-for = "FirstName" placeholder = "Sök efter medlemmar..." />
        <div class = "input-group-append">
            <button type = "submit" class = "mx-3 btn btn-outline-dark"<i>Sök</i>
        </div>
    </div>
</form>*@

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Sök medlem: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Sök" class="btn btn-default" /> |
            <a asp-action="Index">Tillbaka till lista</a>
        </p>
    </div>
</form>


<partial name = "MembersIndexPartial" model = "@Model" />

@*<p>
    <a asp-action="Create">Registrera medlem</a>
</p>
*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersNr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersNr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Checka ut</a>
            </td>
        </tr>
}
*@    </tbody>
</table>

