@model List<MembersViewModel>

<p>
    <a asp-action="Create">Registrera medlem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Förnamn</a>
            </th>
             <th>
                Efternamn
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model[0].PersonNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NumberOfVehicles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].IsParked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RegNbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].WheelCount)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfVehicles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsParked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelCount)
            </td>

        </tr>
}
    </tbody>
</table>

@*@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Bakåt
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Framåt
</a>*@