@{
    string indexClass = string.Empty;
    string overviewClass = string.Empty;
    string checkinClass = string.Empty;
    string privacyClass = string.Empty;
    string createClass = string.Empty;

    switch (ViewData["Active"])
    {
        case  "Index" :
            indexClass = "active";
        break;
        case  "Overview" :
            overviewClass = "active";
        break; 
        case  "Checkin" :
            checkinClass = "active";
        break;
        case  "Stats" :
            privacyClass = "active";
        break;
        case  "Create" :
            createClass = "active";
        break;
    }       
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage 3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Garage_3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <ul class="nav nav-pills">
        </ul>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Members" asp-action="Index">Garage 3</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-pills dark">
                        <li class="active">
                            <a class="nav-link  @indexClass" asp-area="" asp-controller="Vehicles" asp-action="Index">Hem</a>
                        </li>
                        <li class="active">
                            <a class="nav-link  @checkinClass" asp-area="" asp-controller="Vehicles" asp-action="Create">Checka in</a>
                        </li>
                        <li class="active">
                            <a class="nav-link  @overviewClass" asp-area="" asp-controller="Members" asp-action="Index">Medlemsöversikt</a>
                        </li>

                         <li class="active">
                            <a class="nav-link  @privacyClass" asp-area="" asp-controller="VehicleTypes" asp-action="Create">Skapa fordonstyp</a>
                        </li>

                        <li class="active">
                            <a class="nav-link  @privacyClass" asp-area="" asp-controller="Vehicles" asp-action="Stats">Statistik</a>
                        </li>
                    </ul>

                    <ul class = "nav nav-pills dark ms-auto">
                        <li class = "active">
                            <a class ="nav-link" asp-controller="Members" asp-action="Create">Registrera medlem</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container my-5">
        <main role="main" class="pb-3">
            <div class = "card">
                <div class = "card-body">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="bg-dark text-light">
        <div class="container text-center">
            &copy; 2022 - Garage 3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <p class = "my-3">Skapad av | Fredrik Stark | Lara Domnina | Zahed Davodi | Oliver Almén |</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
